
@media (max-width:700px) {
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    justify-content: center;
    padding: 0;
    background: rgb(0, 0, 0,0.05);
}
.container{
     width: 100%;
     background: white;
     border-top: 8px solid green;
     overflow: hidden;
     border-radius: 0;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px 25px;
    border-bottom: 1px solid whitesmoke;
    .logo{
        width: 100px;
        img{
            width: 100%;
        }
        
    }
    .span{
            color: rgb(50, 164, 192);
        }
}
.container form{
    padding: 20px;
    width: 100%;
    span{
        color: grey;
        font-size: 17px;
    }
}
.form-control{
    width: 100%;
    padding: 20px;
    background: rgb(96, 194, 96);
    margin-top: 100px;
    gap: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

    .profile{
        position: absolute;
        width: 80px;
        height: 80px;
        transform: translate(20px,-90%);
        background: rgb(131, 201, 131);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom: 3px solid white;
        span{
            font-size: 13px;
            color: white;
            margin-top: 5px;
            
        }
    }
    .profile:hover{
         background: rgb(96, 194, 96);
    }
    .inputs{
        height: 35px;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        input{
            width: 90%;
            background: transparent;
            border: none;
            outline: none;
            padding: 0 10px;
            color: white;
        }
        input::placeholder{
            color: white;
        }
    }
}
.autorize{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 14px;
    padding: 20px 0;
    input{
        margin-left: 10px;
        color: rgb(131, 201, 131);
        font-weight: 600;
    }
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    button{
        width: 80%;
        padding: 5px 20px;
        background: rgb(96, 194, 96);
        border: none;
        color: white;

    }
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    font-size: 13px;
    margin-top: 10px;
}
}