@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    padding:5px 25px;
    background: rgb(0, 0, 0,0.05);

}
.container{
    width: 80%;
    border-radius: 10px 10px 0px 0px ;
    border-top:7px solid green ;
    box-shadow: 0 0 13px grey;
    background: white;
    .head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0px 4px;
        .left{
            display: flex;
            width:400px;
            align-items: center;
            .logo{
                width: 100px;
                img{
                    width: 100%;
                }
            }
            .span{
                color: rgb(27, 100, 133);
                font-weight: 400;
            }
        }
        .right{
            span{
                padding:8px;
                border: 1px solid rgb(27, 100, 133);
                border-radius: 4px;
                color: white;
                background: rgb(27, 100, 133);
            }
        }
    }
    .head::before{
        content: '';
        width: 150px;
        height:4px;
        background: rgb(27, 100, 133);
        position: absolute;
        bottom:27px;
        left: 105px;
        border-radius: 100px;
        
    }
}
.form-input{
    width: 100%;

    form{
        width: 100%;
        .client-info{
            width: 100%;
            padding: 25px;
            
            .form-control{
                position: relative;
                width: 100%;
                margin-top:15px;
                background: rgb(94, 199, 125);
                border-radius: 4px;
                padding: 15px;
                color: white;
              
                .profile{
                    width: 80px;
                    height: 80px;
                    border-radius: 7px;
                    position: absolute;
                    background: rgb(83, 153, 104);
                    transform: translateY(-70%);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    cursor: pointer;
                    i{
                        font-size:30px;
                    }
                    span{
                        font-size: 11px;
                        margin-top: 5px;

                    }
                    
                }
                 h3{
                    font-size: 14px;
                    margin-bottom:15px;
                    margin-top: 50px;
                    margin-left: 8px;
                   }
                .row{
                    width: 100%;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    margin-bottom: 25px;
                    .check{
                        display: flex;
                        align-items: center;
                        width: 32%;
                        label{
                            font-size:14px;
                        }
                        input{
                            font-size: 12px;
                            margin-right: -30px;
                        }
                    }
                    input{
                        width: 32%;
                        background: transparent;
                        padding: 0 10px;
                        border: none;
                        border-bottom: 1px solid white;
                        outline: none;
                        color: whitesmoke;
                        
                    }
                    input::placeholder{
                        color: white;
                    }

                    
                }
                button{
                        padding: 5px 20px;
                        border: none;
                        margin-top: 20px;
                        background: white;
                        color: rgb(83, 153, 104);
                        font-weight: 400;
                        cursor: pointer;
                        border-radius: 3px;
                    }
                    button:hover{
                        background: transparent;
                        border: 1px solid white;
                        color: white;
                    }
            }
        }
    }
}
footer{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:13px;
    color: grey;

}
/* .container::before{
    content: '';
    width: 80%;
    position: absolute;
    backdrop-filter: blur(15px);
    background: rgb(0, 0, 0,0.05);
     
} */